body,
html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font: bold 14px/1.4 "Open Sans", arial, sans-serif;

  height: auto;
}
body {
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

/* ~~~~~~~~ FIRST SECTION ~~~~~~~~ */

.beforeMain {
  height: 300px;

  background-color: #0f0f0f;
}

.main {
  height: 550px;
  width: auto;
  background: url(../img/about.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
}

.mainDiv {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0vh 39vh 0 39vh;

  color: #eeeeee;
  font-size: 50px;
}

.mainDivTxtSmall {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .mainDiv {
    padding: 0 0 0 0 !important;
  }
}

/* ~~~~~~~~ SECOND SECTION ~~~~~~~~ */

.break {
  height: 100px;
  background-color: #eeeeee;
}

.firstSection {
  width: 100%;
  height: 400px;
  background-color: #0f0f0f;
  display: flex;
  flex-wrap: wrap;
}
.firstImg {
  background: url(../img/family.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50%;
  height: 400px;
  flex-shrink: 0;
}
.firstTxt {
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  padding-right: 200px;
  width: 50%;
  font-size: 24px;
  font-weight: 100;
  text-decoration: none;
  flex-shrink: 0;
  line-height: 1.4;
  font-family: "Lato", serif;
}

@media screen and (max-width: 1500px) {
  .firstTxt {
    padding: 0 0 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .firstSection {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .firstImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .firstTxt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    text-align: center;
  }
}

/* ~~~~~~~~ THIRD SECTION ~~~~~~~~ */

.secondText {
  height: auto;
}

.companyInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 550px;
  padding-right: 550px;
  font-family: "Lato", serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
  background-color: #eeeeee;
}

@media screen and (max-width: 1024px) {
  .companyInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    text-align: center;
    background-color: #eeeeee;
  }
}

@media screen and (max-width: 1500px) {
  .companyInfo {
    padding: 0 0 0 0;
    text-align: center;
  }
}

