body,
html {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font: bold 14px/1.4 "Open Sans", arial, sans-serif;
  height: auto;
}

body {
  opacity: 0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

/* FIRST SECTION */

.beforeMain {
  height: 300px;

  background-color: #0f0f0f;
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ~~~~~~~~~~~~~~~~ GALLERY ~~~~~~~~~~~~~~~~/ */
.header {
  background-color: #eeeeee;
}
.row {
  background-color: #eeeeee;
}
