/*@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css);*/
body {
  margin: 0;
  padding: 0;

  font: bold 14px/1.4 "Open Sans", arial, sans-serif;
  /* min-height:200vh;  */
  height: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~  NAVBAR  ~~~~~~~~~~~~~~~~~~~~~~ */

.navbar-default {
  transition: 500ms ease;
  background: transparent;
}

.navbar-default.scrolled {
  background: #252525;
}
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  height: 140px;
  background-color: transparent;
}

/*.navbar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  width: 50%;
  border-top: 3px solid #000;
}*/

.navbar a {
  float: left;

  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* dzięki temu jest z prawej strony co trzeba  */
ul {
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
  float: right;
}

/* to odpowiada za to, że przyciski są szeroko  */
li {
  display: table-cell;
  position: relative;
}

.navbar a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.14em;
  display: inline-block;
  padding: 15px 5px;
  position: relative;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffe432;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar a:hover:after {
  width: 100%;
  left: 0;
}
.navbar a:hover {
  color: #ffe432;
}

.link-oNas {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-right {
  padding-top: 10px;
}
/*
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

 /*Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally 
@media screen and (max-width: 580px) {
  .navbar {
    padding: 20px 10px !important;
    /* Use !important to make sure that JavaScript doesn't override the padding on small screens 
  }

  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }

*/
/* nie mam pojęcia co to jest XD 
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
} */


/* KONIEC NAVBARA */

/* ~~~~~~~~~~~~~~~~~~~~~~   ~~~~~~~~~~~~~~~~~~~~~~ */

.main {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.mainOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.2;
}

.mainTxt {
  position: absolute;

  padding-top: 360px;
  padding-left: 100px;

  font-size: 50px;
  color: #f5f5f5;
}

.fadeOnLoad {
  display: none;
  border: 7px solid #f5f5f5;
  padding: 12px 20px;
  margin: 6px 0;
  margin-right: 12px;
}

.bottomTxt {
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~ change logo on main screen ~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1024px) {
  .mainTxt {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .mainTxtSmall {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  /* I've given 1023px but you can change to proper width */
  .mainTxtSmall {
    display: block;
  }
}
.mainTxtSmall {
  position: absolute;
  width: 100%;
  padding-top: 360px;

  font-size: 50px;
  color: #f5f5f5;
}

.fadeOnLoadSmall {
  border: 2px solid #f5f5f5;
  padding: 10px 10px;
  margin: 6px 0;

  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~    ~~~~~~~~~~~~~~~~~~~~~~ */

.smallSection {
  background: url(../img/second.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vh;
  background-size: 200vh;
}

.smallSection img {
  height: 40vh;
  width: 100%;

  position: relative;
  object-fit: none;
}

.smallSectionTextDiv {
  width: 100%;
  height: 70vh;

  float: none;

  color: #eeeeee;
  font-size: 30px;
}

.smallSectionText {
  float: none;
  display: inline-block;
display:flex;
justify-content:center;
align-items:center;
width:100%;
height:100%;
  padding: 25vh 120px 0 120px;
}

.footer {
  height: 40vh;
  background-color: #f5f5f5;
  margin-top: -20vh;
  position: absolute;
  width: 100%;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
}

.info {
  margin-top: 5vh;
  font-size: 20px;
  color: #a8a8a8 !important;
}
.infoUnder {
  font-size: 20px;
  color: #a8a8a8 !important;
}

#footerLink {
  font-weight: bold;
}
#footerRight {
  padding-top: 20px;
  font-size: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~  SLIDING BACKGROUND  ~~~~~~~~~~~~~~~~~~~~~~ */
/*
.wrapper {
    overflow: hidden;
}

.sliding-background {
    height: 960px;
    width: 6000px;
}

.sliding-background {
    background:url(../img/background.jpg) repeat-x;
    height: 500px;
    width: 5076px;
}

*/
