@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css
);
body {
  margin: 0;
  padding: 0;
  font: bold 14px/1.4 "Open Sans", arial, sans-serif;
  color: #252525;
}

/* ~~~~~~~~~~~~~~~~~~~~~~  NAVBAR  ~~~~~~~~~~~~~~~~~~~~~~ */
.navbar {
  overflow: hidden;
  /* W zasadzie tego nie potrzebuje. 
  padding: 0px;
  /* Large padding which will shrink on scroll (using JS) 
  transition: 0.4s;*/
  /* Adds a transition effect when the padding is decreased */
  position: fixed;
  /* Sticky/fixed navbar */
  width: 100%;
  top: 0;
  /* At the top */
  z-index: 99;
  height: 140px;
/*border-bottom: 1px solid #ffe432;
border-bottom-width: 20px;*/

}
 .navbar::before{
           content: "";
           position: absolute;
           left: 0;
           top: 0;
           height: 5px;
           width: 50%;
           border-top: 3px solid #000;
 }

.navbar a {
  float: left;

  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* dzięki temu jest z prawej strony co trzeba  */
ul {
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
  float: right;
}

/* to odpowiada za to, że przyciski są szeroko  */
li {
  display: table-cell;
  position: relative;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.14em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffe432;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  .navbar {
    padding: 20px 10px !important;
    /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }

  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar-right {
    float: none;
  }
}


/* KONIEC NAVBARA */

#main {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
#second {
  height: 60vh;
  background: url(../img/second.jpg) no-repeat center center fixed;
  
}

/* ~~~~~~~~~~~~~~~~~~~~~~  SLIDING BACKGROUND  ~~~~~~~~~~~~~~~~~~~~~~ */
/*
.wrapper {
    overflow: hidden;
}

.sliding-background {
    height: 960px;
    width: 6000px;
}

.sliding-background {
    background:url(../img/background.jpg) repeat-x;
    height: 500px;
    width: 5076px;
}

*/
